# Pandas
Pandas is a python library used for data analysis
- Pandas Series
- Pandas Dataframes
- Read CSV
- Read JSON
- Cleaning of Data

In [1]:
%pip install pandas --upgrade

Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

## Pandas Seris
It is a one dimemsional Array that holds data of any type

In [3]:
import pandas as pd

z = [ 10, 20, 30]

myint = pd.Series(z)
print(myint)

0    10
1    20
2    30
dtype: int64

In [4]:
import pandas as pd

m  = [8,2,7,4,5,56,3,221,34,5,544,3]

index = range(len(m))

pdarr = pd.Series(m, index)
print(pdarr)

0       8
1       2
2       7
3       4
4       5
5      56
6       3
7     221
8      34
9       5
10    544
11      3
dtype: int64

## DataFrames
### Multidimessional

In [5]:
import pandas as pd

data = {
    "Labels": ["Name", "Course"],
    "Values": ["Jim", "BSSE"]
}

df = pd.DataFrame(data)
print(df)

   Labels Values
0    Name    Jim
1  Course   BSSE

In [6]:
import pandas as pd

data = {
    "Labels": ["Name", "Course"],
    "Values": ["Jim", "BSSE"]
}

df = pd.DataFrame(data)
df.at[0, "Labels"]

'Name'