# Data Science in Python

- Data Science focuses on Extracting knowledege from data
- Machine Learning focuses on algorithms that learn from data
- Data Analysis focuses on reporting


## Applications of Data Science
- Analysing Climate data to predict future climate parterns
- Used In health

In [13]:
# Step 1: Import the necessary libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
# Step 2: Load the dataset

df = pd.read_csv("data/niceguys.csv")

# Display the first 5 rows of the dataset

print(df.head(5))

   number_siblings                   name     sex  age living_allowance  \
0                1     Nakasujja Gertrude  female   33              NaN
1                3  Arinda Asiimwe Atweta  female   23           50,000
2                4    Ndjekornom Victoire    male   23            25000
3                0         KATURAMU EDGAR    male   27           500000
4                4      Abinsinguza Lasse    male   24           100000

                  Are_you_a  How_many_time_do_eat_food  Unnamed: 7  \
0            Data Scientist                          2         NaN
1  Machine Learning Enginer                          1         NaN
2            Data Scientist                          1         NaN
3  Machine Learning Enginer                          2         NaN
4            Data Scientist                          2         NaN

   do_you_have_aboyfriend/girlfriend
0                                  1
1                                  1
2                                  0
3                                  0
4                                  1

In [15]:
# Step 3: Data cleaning and preprocessing

# Check for missing values in the dataset

print(df.isnull().sum())

number_siblings                       0
name                                  0
sex                                   0
age                                   0
living_allowance                      6
Are_you_a                             0
How_many_time_do_eat_food             0
Unnamed: 7                           35
do_you_have_aboyfriend/girlfriend     0
dtype: int64

In [18]:
# Drop Row where living allowance has value of 1,000,000 and 50,000

for i in range(len(df)):
    if df.loc[i, 'living_allowance'] == 1000000 or df.loc[i, 'living_allowance'] == 50000:
        pass

In [20]:
print(df)

    number_siblings                  name     sex  age living_allowance  \
0                 1    Nakasujja Gertrude  female   33              NaN
9                 9           Otim Ronald    male   25              NaN
13                3       MULINDWA YUSUF     male   22              NaN
24                0      Ssentongo Henry     male   27              NaN
27                1         AMADILE MAJID    male   23              NaN
33                8  Olowo Omondi Philly     male   23              NaN

                   Are_you_a  How_many_time_do_eat_food  Unnamed: 7  \
0             Data Scientist                          2         NaN
9             Data Scientist                          2         NaN
13            Data Scientist                          3         NaN
24  Machine Learning Enginer                          1         NaN
27              Data Analyst                          2         NaN
33            Data Scientist                          2         NaN

    do_you_have_aboyfriend/girlfriend
0                                   1
9                                   0
13                                  0
24                                  0
27                                  0
33                                  1

In [ ]:
# Step 4: EDA Exploratory Data Analysis

# Distribution of students with age and whether they have girlfriends or boyfriends
# Gender who have girlfriends or boyfriends
# Do you eat, gender, age and gf and bf
# Living Allowances and gf and bf
# Career and gf
# Siblings and gf
# Colorreation Heatmap, correlation matrix and plot the heatmap
# Decision making or insights of data and do data analysis conclusion

# 1: Age and gf or bf
# 2: Gender and gf or bf
# 3: Correlation analysis